#content {	margin:0 20px; }
.clearfix { display:block; }
.pod-white {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	background:#FFFFFF none repeat scroll 0 0;
	font-size:12px;
}
.pod-white h2 {
	font-size:48px;
	font-weight:bold;
	padding:30px 0 10px;
	text-align:center;
}
.form-wrap {
	margin:0 auto;
	width:320px;
}
ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.hint, .hint-blue {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFCC url(/webb/web2/images/tool/pointer.gif) no-repeat scroll -10px 5px;
	border:1px solid #CC9933;
	color:#333333;
	display:none;
	padding:10px 12px;
	position:absolute;
	right:-291px;
	top:18px;
	width:225px;
}
.hint .hint-pointer, .hint-blue .hint-pointer {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/webb/web2/images/tool/pointer.gif) no-repeat scroll left top;
	height:19px;
	left:-10px;
	position:absolute;
	top:5px;
	width:10px;
}
#signup .error-inline {
    background-image: url(/webb/web2/images/tool/icon-error.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
	color: #CC0000;
	font-size:12px;
	font-weight:bold;
	width:298px;
    padding-left:15px;
    padding-top:1px;
}
#signup label {
	color:#417AAE;
	display:block;
	font-weight:bold;
	margin:20px 0 4px;
	font-size:14px;
}
#signup-ul { font-family:Arial,sans-serif; }
#signup input.inputtext {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	color:#798495;
	display:block;
	font-size:1.3em;
	padding:8px;
	width:100%;
	font-family:Arial,sans-serif;
	border:1px solid #AACEE8;
}
#signup .terms-wrap { color:#6A757E;	margin:8px 0 20px; font-size:10px; }
#signup h2 { margin-bottom:0; margin-top:0; }
#signup-ul li { position:relative; }
.pod-white a { color:#2B84C6; font-weight:bold; text-decoration:none;}
.btn-signup {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background-repeat: no-repeat;
	background-image: url(/webb/web2/images/tool/btn-signup.png);
	display:block;
	height:32px;
	text-indent:-9999px;
	width:118px;
}
.active {  background-position:0 -132px; cursor:pointer; } 
.active:hover {  background-position:0 -165px; cursor:pointer;} 
.deactive {  background-position:0 -66px; } 
#signup .icon { background-position:100% -111px; }
.signup-btn-wrap {
	margin-bottom:0;
	margin-left:-66px;
	padding-bottom:50px;
	padding-top:10px;
}